.contactInfo{
	margin-top:5px;
}
#technologyResearchSpacer{
	margin-bottom:10px;
}
#getInTouchSpacer{
	margin-bottom:20px;
}
#googleMap, #wannaParty, #getInTouch{
	margin-top:40px;
}
#listOfTools{
	margin-top:90px;
}
#projectListSpacer{
	margin-top:120px;
}
#interestedJoin{
	margin-top:20px;
	margin-bottom:40px;
}
.btn-join{
	background-color:#ffc477;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:43px;
	line-height:43px;
	width:115px;
	text-decoration:none;
	text-align:center;
}.btn-join:hover{
	background-color:#fb9e25;
}.btn-join:active{
	position:relative;
	top:1px;
}
.btn-white{
	font-size:30px;
	border:1px solid white;
	padding:15px 30px;
	font-weight: 300;
	background:white;
	color:black !important;
}

.blue{
	color:#29b2cf !important;
}

.tiny-pad-bot{
	margin-bottom:25px;
}

.header-pad{
	margin-bottom: 40px !important;
}

.section-less-pad-top{
	padding-top:-50px;
}

.section-more-pad-top{
	padding-top:40px;
}

.section-less-pad-bot{
	padding-bottom:0px;
}

.section-pad{
	padding-bottom:150px;
}

body{
	cursor:default;
	background:#29b2cf;
}

.bg-red{
	background:#B84316 !important;
	color:#B84316 !important;
}

.no-pad-bottom{
	padding-bottom:0px;
	margin-bottom:0px;
}

.main-logo{
	padding-top:0px;
	margin-top:-100px;
	margin-bottom:-20px;
}

#chart{
	position:absolute;
	left:-100px;
	top:-100px;
	margin-top:0px;
	opacity:0.5;
}

.no-padding{
	padding:0px 0px;
	padding-top:-100px;
	margin-top:-100px;
}

.pad-bot{
	margin-bottom:75px !important;
}

.pad-top{
	margin-top:50px;
}

.align-right{
	float:right;
}

.align-center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.space-top{
	margin-top:225px;
}

.space-bot{
	margin-bottom:205px;
}

.subtitle-dark{
	color:#253531;
	font-size:25px;
	display:inline;
}

.subtitle-light{
	color:#6de6ff;
	font-size:25px;
	display:inline;
}

.small-title{
	//font-size:96px;
	display:inline;
}

.inline{
	display:inline-block;
}

.btn-semihexright{
	width:50%;
	height:20%;
	top:50%;
	right:0px;
	position:fixed;
	bottom:0px; 
	background:#0D4553 !important;
	padding-top:4px;
}

.btn-semihexright:hover{
	width:50%;
	height:20%;
	top:50%;
	right:0px;
	position:fixed;
	bottom:0px; 
	background:#042730 !important;
	padding-top:4px;
}

.btn-semihexleft{
	width:50%;
	height:20%;
	top:50%;
	left:0px;
	position:fixed;
	bottom:0px;
	background:#16B9D8 !important;
	padding-top:4px;
}

.btn-semihexleft:hover{
	width:50%;
	height:20%;
	top:50%;
	left:0px;
	position:fixed;
	bottom:0px;
	background:#0088A2 !important;
	padding-top:4px;
}

@media(max-width: 767px){
	.subtitle-dark{
		color:#253531;
		font-size:20px;
		display:inline;
		font-weight: 700;
	}

	.subtitle-light{
		color:#6de6ff;
		font-size:20px;
		display:inline;
	}
}

@media(max-width: 480px){
	.main-logo{
		padding-top:0px;
		margin-top:-100px;
		margin-bottom:-30px;
		-webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
		-moz-transform: scale(0.7); /* FF3.5+ */
		-ms-transform: scale(0.7); /* IE9 */
		-o-transform: scale(0.7); /* Opera 10.5+ */
		transform: scale(0.7);
	}

}

.btn-white.btn-icon-right:after{
  border-left-color: #b6593d;
}
.btn-white.btn-icon-left:after{
  border-right-color: #b6593d;
}
.btn-white.btn-icon-right:hover:after{
  border-left-color: rgba(182, 89, 61, 0.9);
}
.btn-white.btn-icon-left:hover:after{
  border-right-color: rgba(182, 89, 61, 0.9);
}
.btn-white .hex-alt{
  background: rgba(255, 255, 255, 0.2);
}
.btn-white .hex-alt:before{
  border-right-color: rgba(255, 255, 255, 0.2);
}
.btn-white .hex-alt:after{
  border-left-color: rgba(255, 255, 255, 0.2);
}
.btn-white .hex-alt i{
  color: white !important;
}